<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <include file="appletDeselection/config.xml" directory="." />
  <include file="maxTrialsRightInput/config.xml" directory="." />

  <include file="rightPinGiven/config.xml" directory="." />
  <include file="wrongBiggerPinGivenMaxNotReached/config.xml" directory="." />
  <include file="wrongSmallerPinGivenMaxNotReached/config.xml" directory="." />
 
</tests>