<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <test
      definition="jcard.k"
      programs="../../../../programs/programsForTests/OpenChannelTests/pattern/assignNewLogicalChannelNumber/open2And4Channels"
      results="."
      extension="jcard" >
      <all-programs>
        <krun-option name="--output" value="none"/>
      </all-programs>
  </test>

</tests>